* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.cotn_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #3F5EFB, #FC466B);
}

.cont_centrar {
    position: relative;
    float: left;
    width: 100%;
}

.cont_login {
    position: relative;
    width: 640px;
    left: 50%;
    margin-left: -320px;
}

.cont_info_log_sign_up {
    position: absolute;
    width: 640px;
    height: 280px;
    top: 100px;
    z-index: 1;
}

.col_md_login, .col_md_sign_up {
    float: left;
    width: 50%;
}

.cont_ba_opcitiy {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 3px;
    margin-top: 60px;
    padding: 15px 0;
}

.btn_login, .btn_sign_up {
    background-color: #03A9F4;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.cont_forms {
    position: absolute;
    width: 320px;
    height: 280px;
    background-color: #eee;
    transition: all 0.5s;
}

.cont_form_login, .cont_form_sign_up {
    position: absolute;
    width: 320px;
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

.cont_form_login h2, .cont_form_sign_up h2 {
    color: #fff;
}

input {
    padding: 15px;
    width: 260px;
    margin: 20px;
    border: none;
}
